# ignore venv file
venv
.idea
.env

# zip file
*.zip

# tar file
*.tar.gz

/tugas4/aclImdb

# dataset files
dataset

# ignore keras model
*.h5
*.keras

kaggle_API_key.json

/tugas6_quizM10/.kaggle

tugas6_quizM10/data

tugas7_quizM11/raw-img